body {
    background-color: black;
    color: white;
    text-align: center;
}


#result-card {
    font-family: fantasy;
    width: 400px;
   
    margin: auto;
    border-width: 25px;
    border-style: groove;
    border-color: aliceblue;
    border-radius: 5px;
    
}
#result-card > button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(0, 0, 0, 0.555);
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
  
#result-card > button:hover {background-color: #fa0707}
  
#result-card > button:active {
    background-color: #e95b03;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
  }
  #searchButton{
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(0, 0, 0, 0.555);
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  #searchButton:hover {background-color: #b9a0ff}

  #searchButton:active {
    background-color: #907fff;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
  }
  #createButton{
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(0, 0, 0, 0.555);
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  #createButton:hover {background-color: #4af20c}

  #createButton:active {
    background-color: #37c304;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
  }